
h2{ 
    border:4px inset white;
     margin-top:100px;
     font-size: 25px;
}
.para{
    border-style: inset;
    border-color:white;
    display:inline-block;
    margin-left: 400px;
    margin-top: 0px;
    margin-right: 100px;
    font-size:20px;
    height:250px;
    
}
.quoteabout{
    border-style:inset;
    border-color:white;
    position: absolute;
                top: 0px;
                left: 100px;
                right: 0px;
                width: 1000px;
                height: 400px;
                z-index: -1;
}
table, th, td {
    border: 4px inset white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
h3{
    top:100px;
    border:4px inset white;
    font-size: 23px;
}
.vinh{
    position:absolute;
    width:250px;
    top:620px;
    height:250px;
    border-style:inset;
    border-width:8px;
    left:50px;
}
.car {
    width: 420px;
    height: 300px;
    border-style:inset;
    border-width:8px;
}
.batman{
    width:420px;
    height: 300px;
    border-style: inset;
    border-width: 8px;
}
.innovation{
    width:420px;
    height: 300px;
    border-style: inset;
    border-width: 8px;
}
.top{
    background:"images/quoteabout.jpg";
}